PLAYWRIGHT_MCP_EXTENSION_TOKEN=
PLAYWRIGHT_MCP_COMMAND=
PLAYWRIGHT_MCP_EXECUTABLE_PATH=/Applications/Brave Browser.app/Contents/MacOS/Brave Browser
PLAYWRIGHT_MCP_USER_DATA_DIR=/Users/macbook/Library/Application Support/BraveSoftware/Brave-Browser
